{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API</title>
    <link rel="shortcut icon" href="{% static 'base/img/Pictogrammers-Material-Api.512.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'base/css/style.css'%}">
</head>
<body>
    <header>
        <h1 class="titulo">Criado o projeto API</h1>
        <a href="{% url 'formulario' %}"><button class="button">Fomulário</button></a>
        <a href="#"><button class="button_2">JSON</button></a>
    </header>
</body>
</html>